<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Refresh</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Refresh</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <ion-content class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  
    <p>Pull this content down to trigger the refresh.</p>
  </ion-content>
  
</ion-content>
